@font-face {
    font-family: 'AlternateGothic';
    src: url('../fonts/AlternateGothicNo3-webfont.eot');
    src: url('../fonts/AlternateGothicNo3-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AlternateGothicNo3-webfont.woff') format('woff'),
    url('../fonts/AlternateGothicNo3-webfont.ttf') format('truetype'),
    url('../fonts/AlternateGothicNo3-webfont.svg#AlternateGothicFSNo3') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'AlternateGothic', Arial, sans-serif;
	background-color: #88b3da;
    color: #575757;
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}

html {
    height: 100%; 
    overflow: hidden;
}

.messageContainer {
    background: white;
    position: fixed;
    height: 200px;
    width: 100%;
    top: 0px;
    display: none;
    
   

}

.message-heading {
    font-size: 3em;
}
.message-text {
    font-size: 3em;
    padding: 10px;
}
.alert {
    color: #c00;
}

#events-header {
    border-bottom: 5px solid white;
}

#traffic-container {
    float: right;
    width: 30%;
    background-color: #004875;
    height: 700px;
    border-left: 5px solid white;
    text-align: center;
}

#traffic-container #traffic-level {
    font-family: 'AlternateGothic', Arial, sans-serif;
    font-size: 80px;
    font-style: italic;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    position: absolute;
    margin: 50px 0 0 50px;
    /*padding-top: 175px;*/
}

.traffic-text-container {
    text-align: center;
    padding-top: 140px;
}

#traffic-container #open-close {
    font-family: 'AlternateGothic', Arial, sans-serif;
    font-size: 120px;
    position: relative;
    top: 600px;
}
.empty, .low {
    background-color: #6c6;
    color: #222;
}

.medium {
    background-color: #f7ec1e;
    color: #222;
}

.high {
    background-color: #ff9400;
    color: #222;
}

.full{
    background-color: #c00;
    color: #fff;
}
.event {
    background-color: #5525bf;
    color: #FFF;
}


h2 {
	background-color: #004875;
	padding: 10px 20px;
	font-size: 80px;
	font-family: 'AlternateGothic', Arial, sans-serif;
	color: #fff;
}

.select2-container, .select2-drop, .select2-search, .select2-container .select2-choice{
    background: #004875;
    font-size: 30px;
    font-family: 'AlternateGothic', Arial, sans-serif;
    color: #fff;
    border: none !important;
    width: 100%;
    -webkit-box-shadow: none;
    overflow: visible;
    padding: 5px;
    padding-right: 10px
}

.select2-container .select2-choice .select2-arrow{
    background: none;
    border: none;
}

.select2-dropdown-open .select2-choice .select2-arrow{
    background: none;
    border: none;
}

.select2-dropdown-open .select2-choice .select2-arrow:before{
    content: '\25B4';
}
.select2-container .select2-choice .select2-arrow b:before {
content: '\25BE';
}


.select2-search{
    font-size: 12px;
    width: 99%;
    margin-left: 10px;
}
.select2-results .select2-no-results{
    background: #004875;
}

.open{
    color: #5bff4d;
}

.closed {
    color: #ff423e;
}

#time, #date{
    float: right;
}

#events-container {
    float: left;
    width: 65%;
}


.eventcontainer {
    width: 100%;
    font-size: 3.5em;
    padding-top: .3em;
    

}

#events-time-header {
    border-bottom: 5px solid white;
}

.datetime {
    width: 20%;
    height: 100%;
    float: left;
    border-right: solid;
    border-right-color: white;
}

.eventdetails {
    
    width: 75%;
    height: 100%;
    float: right;
}

.clear {
    clear: both;
}
.mpevents {
    font-size: 4em;
    margin: .3em;
}

#custom-ad{
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    border-top: 5px solid white;
    z-index: 999;
    background: inherit;
    font-size: 75px;
    font-weight: bold;
    line-height: 75px;
    padding-top: 10px;
    display: none;
}

#mood {
    position: absolute;
    width: 25%;
    height: 100%;
    border-left: 5px solid white;
    right: 0;
}
#mood figure {
    text-align: center;
}
#mood figure svg {
     width: 90%;
    height: 480px;
    margin-top: 80px;
}
#mood h2 {
    text-align: center;
    font-size: 70px;
}
#mood h3 {
    background-color: #004875;
    padding: 10px 20px;
    font-size: 39px;
    font-family: 'AlternateGothic', Arial, sans-serif;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: inherit;
}
