    /** PAGE **/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	font-family: Arial;
	background-color: #88b3da;
	color: #575757;
}

.page-container {
	margin: 0 auto;
	height: 1910px;
	width: 1080px;
	background-color: #0065a4;
}

@font-face {
    font-family: 'AlternateGothic';
    src: url('../fonts/AlternateGothicNo3-webfont.eot');
    src: url('../fonts/AlternateGothicNo3-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AlternateGothicNo3-webfont.woff') format('woff'),
    url('../fonts/AlternateGothicNo3-webfont.ttf') format('truetype'),
    url('../fonts/AlternateGothicNo3-webfont.svg#AlternateGothicFSNo3') format('svg');
    font-weight: normal;
    font-style: normal;

}

h2 {
	background-color: #004875;
	padding: 10px 20px;
	font-size: 30px;
	font-family: 'AlternateGothic', Arial, sans-serif;
	color: #fff;
}


/** LOGO, TIME, WEATHER **/

.logo-container, .date-time-container, .weather-container {
	display: inline-block;
	width: 350px;
	height: 150px;
	vertical-align: top;
}

.logo-container {
	margin-right: -4px;
	background-color: #0065a4;
}

.logo-container img{
	margin: 0 auto;
	display: block;
	vertical-align: center;
	margin-top: 40px;
}

.date-time-container {
	margin-right: -4px;
}
.date-time-container h3, .date-time-container h4 {
	color: #fff;
	font-family: 'AlternateGothic';

	text-align: center;
}
.date-time-container h3 {
	font-size: 60px;
	margin-bottom: 0;
	margin-top: 15px;
}

.date-time-container h4 {
	font-size: 80px;
	font-weight: 300;
}

@font-face {
    font-family: 'weather';
    src: url('../fonts/artill_clean_icons-webfont.eot');
    src: url('../fonts/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/artill_clean_icons-webfont.woff') format('woff'),
         url('../fonts/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
  color: #fff;
  font-family: weather;
  font-weight: normal;
  font-style: normal;
  font-size: 150px;
  margin-right: 15px;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

.weather-container {

}

.weather-container h3 {
	color: #fff;
	font-family: 'AlternateGothic';
	font-size: 100px;
	text-align: center;
	margin-top: 10px;
}
.weather-container span {
	color: #fff;
	font-family: 'AlternateGothic';
	font-size: 60px;
	text-align: center;
	vertical-align: top;
	margin-top: 4px;
	margin-left: 10px;
	display: inline-block;
    line-height: 110px;
}


/** Hours **/

.hours-container {
	height: 540px;
	background-color: #fff;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.hours-container h3 {
	color: #fff;
	width: 400px;
	padding: 30px;
	background:rgba(0,0,0,0.3);
	font-family: 'AlternateGothic', Arial, sans-serif;
	margin: 30px 40px;
	float: right;
	font-size: 25px;
	text-shadow: rgb(78, 78, 78) 1px 1px 0px;
}
.hours-display-primary {
    font-size: 4em;
   
    width: 100%;
   
    padding: 10px 10px 10px 115px;
    font-family: 'AlternateGothic', Arial, sans-serif;
    background-color: #6c6;
    color: rgb(255, 255, 255);
    
}

.hours-display-secondary {
    font-size: 3em;
    
    width: 100%;
    padding: 10px 10px 10px 115px;
    font-family: 'AlternateGothic', Arial, sans-serif;
    
}

/** COMPUTER AVAILABILITY **/

.computer-availability-container {
	background-color: #fff;
}
.computer-availability-container img {
	width: 100%;
	padding: 20px 20px;
}


/** ROOM AVAILABILITY **/

.room-availability-container {
	background-color: #fff;
    height: 395px;
}

.room-availability-container p {
    line-height: 18px;
    font-size: 14px;
}

.room-availability-container .room-availability-floors {
    margin-top: 50px;
    margin-left: 20px;
    display: block;
}

.room-availability-container .room-availability-floors .floor-container {
    vertical-align: top;
    display: inline-block;
    width: 18%;
    margin-right: 15px;
    text-align: center;
    padding-bottom: 5px;
}

.room-availability-container .room-availability-floors .floor-title {
    border-bottom: 1px solid #bcbcbc;
    margin-bottom: 5px;
}

.room-availability-floors .room-container {
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;
    height: 42px;
}
.room-container .room-title {
    display: block;
}
.room-container .reserved-by {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
}

/** TRAFFIC MAP **/

.traffic-map-container {
	height: 562px;
	background-color: #fff;
}

.traffic-map-container > h2 > small {
    font-size: 60%;
    padding-left: 10px;
    vertical-align: middle;
}

.areas div {
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
}

.grey {
    background-color:  #eee;
    color: #222;
}

.green, .available {
    background-color: #6c6;
    color: #222;
}

.yellow, .reserved_soon {
    background-color: #f7ec1e;
    color: #222;
}

.orange {
    background-color: #ff9400;
    color: #222;
}

.red, .reserved {
    background-color: #c00;
    color: #fff;
}

.traffic-map-container .elevator {
	width: 110px;
    height: 80px;

	background-color: #575757;
    color: #fff;

	display: inline-block;
	position: relative;
	top: 230px;
	left: 470px;

	text-align: center;
	padding-top: 35px;

}
.traffic-map-container .small {
	font-size: 80%;
}
.traffic-map-container .star {
    font-size: 40px;
    display: block;
    padding-top: 10px;
}

.areas .here {
    position: relative;
    background-color: #0000ff;
    color: #0000ff;
    width: 0px;
    height: 0px;
    z-index: 3;
}

/* AREAS */
#atrium_exhibition_room, #atrium_living_room, #atrium_multipurpose_room, #atrium_seating_area, #atrium_under_stairs,
#first_knowledge_market, #first_cafe_seating,
#second_collaboration_space, #second_quiet_space,
#third_innovation_zone, #third_reading_room, #third_collaboration_space, #third_quiet_space,
#fourth_reading_room, #fourth_collaboration_space, #fourth_quiet_space {
    width: 180px;
    height: 180px;

    display: inline-block;
    position: relative;

    text-align: center;
    padding-top: 80px;

    border-radius: 90px;
}

/*
    Atrium
*/
.atrium-floor .here {
    top: 480px;
    left: 830px;
}
.atrium-floor .elevator{
    top: 190px;
    left: 150px;
}
#atrium_exhibition_room {
    top: 250px;
    left: 470px;
}
#atrium_seating_area {
    top: 335px;
    left: -180px;
    width: 380px;
    margin-right: -200px;
}
#atrium_multipurpose_room {
    top: -240px;
    left: 510px;
    width: 230px;
    height: 180px;
}
#atrium_multipurpose_room.event {
    background-color: #5525bf;
    color: #FFF;
}
#atrium_multipurpose_room.event span {
    position: relative;
    top: -50px;
}
#mp-event {
    width: 200px;
    height: 60px;
    position: absolute;
    top: 1430px;
    left: 530px;
    display: block;
    text-align: center;
    color: #FFF;
}

#atrium_living_room {
    top: -130px;
    left: 550px;
    height: 420px;
    padding-top: 180px;
}
#atrium_under_stairs {
    top: -160px;
    left: -90px;
    height: 240px;
    padding-top: 110px;

}


/*
    1st floor
*/
.first-floor .elevator {
    top: 270px;
    left: 470px;
}
#first_knowledge_market {
    top: 60px;
    left: 580px;
    width: 300px;
    height: 300px;
    padding-top: 150px;
}
#first_cafe_seating {
    top: -240px;
    left: 80px;
    width: 300px;
    height: 300px;
    padding-top: 150px;
}

.first-floor .here-1 {
    top: 350px;
    left: 400px;
}
.first-floor .here-2 {
    top: 350px;
    left: 790px;
}


/*
    2nd floor
*/
#second_quiet_space {
    top: -300px;
    left: 305px;
    width: 400px;
}
#second_collaboration_space {
    top: 175px;
    left: 585px;
    width: 270px;
    height: 350px;
    padding-top: 160px;
}

.second-floor .here {
    top: 290px;
    left: 600px;
}

.second-floor .elevator {
    top: 195px;
    left: 380px;
}

/*
    3rd floor
*/

.third-floor .here {
    top: 290px;
    left: 600px;
}

.third-floor .elevator {
    top: 250px;
    left: 380px;
}

#third_innovation_zone {
    top: 310px;
    left: -30px;
    width: 220px;
    height: 200px;
    margin-right: -40px;
    padding-top: 90px;
}
#third_reading_room {
	top: 20px;
    left: -200px;
    height: 270px;
    margin-bottom: -140px;
    padding-top: 120px;
}
#third_collaboration_space {
    top: -40px;
    left: 700px;
    width: 270px;
    height: 350px;
    padding-top: 160px;
}
#third_quiet_space {
    top: -260px;
    left: 30px;
    width: 400px;
}

/*
    4th floor
*/

.fourth-floor .elevator {
    top: 194px;
    left: 380px;
}

.fourth-floor .here {
    top: 290px;
    left: 600px;
}

#fourth_reading_room {
    top: -36px;
    left: -15px;
    height: 270px;
    padding-top: 120px;
}
#fourth_collaboration_space {
    top: 175px;
    left: 400px;
    height: 350px;
    padding-top: 160px;
    width: 270px;
}
#fourth_quiet_space {
    top: -300px;
    left: 305px;
    width: 400px;
}


/*
    Traffic Legend
 */
.traffic-legend {
	display: inline-block;
	float: right;
	margin-right: 10px;
	margin-top: 15px;
	font-family: arial;
	font-size: 12px;
}
.traffic-legend div {
	display: inline-block;
	height: 15px;
	width: 15px;
	background-color: blue;
	margin-right: 5px;
}

.traffic-legend .low div {
	background-color: #6c6;
}
.traffic-legend .medium div{
	background-color: #f7ec1e;
}
.traffic-legend .high div {
    background-color: #ff9400;
}
.traffic-legend .full div {
	background-color: #c00;
}

.traffic-legend .event div {
    background-color: #5525bf;
}

.traffic-legend li{
	display: inline-block;
	padding-right: 4px;
    line-height: 16px;
	vertical-align: top;
	padding-top: 2px;
}
.traffic-legend li .star{
    display: inline;
    font-size: 20px;
    color: #0000ff;
    margin-right: 5px;
}


/** FLOOR TOGGLE **/

.floor-toggle {
    background-color: #fff;
}

.floors{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 40px;
    display: inline-block;
}
.floors li {
    font-size: 24px;
    display: inline-block;
    text-align: center;
    padding: 20px 20px;
    background-color: #eee;
    background: #f6f6f6;
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 200px;
    margin-right: -6px;
    cursor: pointer;
}

.floors .first {
    border-radius: .25em 0 0 .25em;
}

.floors .last {
    border-radius: 0 .25em .25em 0;
}

.floors .selected {
    background-color: rgb(82, 168, 232);
    background-origin: padding-box;
    border-bottom-color: rgb(32, 85, 154);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(64, 129, 175);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(64, 129, 175);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(64, 129, 175);
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.298039) 0px 1px 0px 0px inset, rgba(255, 255, 255, 0.298039) 0px 0px 2px 0px inset, rgba(0, 0, 0, 0.290196) 0px 1px 2px 0px;
    cursor: pointer;
    text-decoration: none solid rgb(255, 255, 255);
    color: #fff !important;
    margin-right: -5px;
}
.floors li a {
    text-decoration: none;
    color: #575757;
}

.spinner {
  width: 60px;
  height: 60px;
  margin: 210px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

.refresh{
    width: 50px;
    height: 50px;
    float: right;
}
#message {
    display: none;
    font-family: Arial, sans-serif;
}
#message h4 {
    color: red;
    font-size: 40px;
    padding: 30px;
}
#message h4.message-post-time {
    float: right;
}
#message p {
    padding-left: 30px;
    font-size: 25px;
}

.feedback {
    background-color: white;
}
.feedback ul {
    margin-top: 10px;
}
.feedback ul.emojis li {
    display: inline;
    margin: 0 39px;
}
.modal {
    position: fixed;
    bottom: 0px;
    width: auto;
    text-align: center;
    margin: 0 auto;
    display: none;
    cursor: pointer;
    z-index: 4;
}
.feedback .modal2, .feedback .modal1, .feedback .modal3, .close{
    font-size: 28px;
    background: #f6f6f6;
    border: 1px solid #ccc;
    padding: 20px;
    width: 100%;
    bottom: 65px;
}
.modal1 p span {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    display: inline-block;
font-weight: 400;
line-height: 1.25;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
padding: .5rem 1rem;
margin: .7em auto;
border-radius: .25rem;
-webkit-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}

.close {
    bottom: 0;
}
.feedback .modal2 p {
    margin: 10px;
}
.feedback .modal3 {
    height: 170px;
    padding-top: 60px;
    left: 0;
}
.feedback .modal1 ul{
    text-align: center;
    margin: 0 auto;
}
.feedback .modal1 ul li {
    background-color: white;
    display: inline-block;
    width: 30%;
    font-size: 20px;
    border: 2px solid #646464;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    min-height: 60px;
}
.feedback .modal ul li.other {
    font-size: 44px;
}

.emojione {
    font-size: 70px;
}
