apiKey.php
logging/logs
logging/cache
logging/password.php
.idea/*
.vscode/*
weekDataLog.xml
php/connection.php
messagePass.php
messagepass.php
php/authentication.php
php_error_log.log
RoomReservationData.xml
.DS_Store
